<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
            <li><a style="font-size:15px; padding:20px;" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div>
        {% include social.html %}
        Copyright © 2018 Goat Leaps
      </div>
    </div>

  </div>

</footer>
