---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}


    <div style="overflow-x: auto;">

      <div class="row" align="center">
        <h2 class="post-list-heading"> Featured posts </h2>

        <p>Check out the scripts for generating fractal-like structures in the
           »<a class="post-link" href="/media/maths/programming/tools/Barnsley-fern.html">Barnsley's fern</a>« and »<a class="post-link" href="/media/maths/programming/tools/The-Chaos-Game.html">The Chaos game</a>« posts!</p>
        <p>Here are some neat pictures these can create: </p>

        <img src="/assets/image/bernsleys_fern_gallery/5.png" style="width:10%;">
        <img src="/assets/image/bernsleys_fern_gallery/6.png" style="width:10%;">
        <img src="/assets/image/bernsleys_fern_gallery/leafy.png" style="width:10%;">
        <img src="/assets/image/chaos_game_gallery/1.png" style="width:10%;">
        <img src="/assets/image/chaos_game_gallery/2.png" style="width:10%;">
        <img src="/assets/image/chaos_game_gallery/3.png" style="width:10%;">
        <img src="/assets/image/chaos_game_gallery/7.png" style="width:10%;">

        <p></p>
        <p></p>
        <p></p>
      </div>


      <div class="row">
        <div class="column" style="width:60%;">

          <h2 class="post-list-heading"> Recent posts </h2>

          <p> Chronological list of most recent posts across all categories. </p>
          <ul class="post-list">
            {% for post in site.posts limit: 15 %}
            <li>
              {% if  true %}
              {% unless post.categories contains 'noshow' %}
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <div class="row">
                <div class="column">
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    <img class="post-icon" src="/assets/icon/{{ post.icon }}.png">
                    {{ post.title | escape }}
                  </a>
                </div>

                <div class="column">
                <span> {{ post.category-string }}  </span> <span class="post-meta">{{ post.date | date: date_format }}</span>
              </div>
              </div>
              {% endunless %}
              {% endif %}
            </li>
            {% endfor %}
          </ul>


        </div>
        <div class="column" style="width:40%;">
          <h2 class="post-list-heading"> About </h2>

          <img src="/assets/image/goat_leap.png" style="float:right;  width:25%;">
          <p>
            I am a student, based in Edinburgh, Scotland. I have studied Computer science & Mathematics at the University of Edinburgh
          <span><img src="/assets/image/edi.png" style="top-margin:-40px; witdth:20%;"></span>
          </p>

          <p> and this is meant to be my experimental website. I will publish here anything that I find worthwhile. This
           will include <i> competitive programming </i> and <i> problem solving </i> strategies, <i> Project Euler </i> guidance, clear code and many other things that I find neat.
          </p>

          <p> You are most welcome to reach me with any queries, feedback or comments, at »<a href="mailto:{{ site.email }}">{{ site.email }}</a>«. </p>

        </div>
      </div>


  </div>
</div>
