---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

    <h2 class="post-list-heading"> Recent posts </h2>

    <div style="overflow-x: auto;">

      <div class="row">
        <div class="column" style="width:60%;">

          <p> Chronological list of most recent posts across all categories. </p>
          <ul class="post-list">
            {% for post in site.posts limit: 15 %}
            <li>
              {% if  true %}
              {% unless post.categories contains 'noshow' %}
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <div class="row">
                <div class="column">
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    <img class="post-icon" src="/assets/icon/{{ post.icon }}.png">
                    {{ post.title | escape }}
                  </a>
                </div>

                <div class="column">
                <span> {{ post.category-string }}  </span> <span class="post-meta">{{ post.date | date: date_format }}</span>
              </div>
              </div>
              {% endunless %}
              {% endif %}
            </li>
            {% endfor %}
          </ul>


        </div>
        <div class="column" style="width:40%;">
          <img src="/assets/image/goat_leap.png" style="float:right;  width:25%;">
          <p>
            I am a student, based in Edinburgh, Scotland. I have studied Computer science & Mathematics at the University of Edinburgh
          <span><img src="/assets/image/edi.png" style="top-margin:-40px; witdth:20%;"></span>
          </p>

          <p> and this is meant to be my experimental website. I will publish here anything that I find worthwhile. This
           will include <i> competitive programming </i> and <i> problem solving </i> strategies, <i> Project Euler </i> guidance, clear code and many other things that I find neat.
          </p>

          <p> You are most welcome to reach me with any queries, feedback or comments, at »<a href="mailto:{{ site.email }}">{{ site.email }}</a>«. </p>

        </div>
      </div>


  </div>
</div>
